<div id="cancel_subscription_confirmation_div" style="display: none">
	<a id="showCancelSubscriptionConfirmationPopup" href="#cancelSubscriptionConfirmation"></a>
	<div id="cancelSubscriptionConfirmation" class="popUpWindow">
		<div class="popUpWindowTitle loraItalic14pt291911">Cancel you Subscription!<br /><br /></div>
		<div id="confirmationContent" class="popUpWindowContent arialBold15ptEFE7D3" style="text-align:center;">Account will be cancelled immediately.  No partial payment will be refunded</div>
		<br /><br />
		<div id="yesCancelSubscriptionBtn"></div>		
		<div id="noCancelSubscriptionBtn"></div>
		<br />
	</div>
</div>