<div id="delete_confirmation_div" style="display: none">
	<a id="showDeleteConfirmationPopup" href="#deleteConfirmation"></a>
	<div id="deleteConfirmation" class="popUpWindow">
		<div class="popUpWindowTitle loraItalic14pt291911">Confirm Delete?<br /><br /></div>
		<div id="confirmationContent" class="popUpWindowContent arialBold15ptEFE7D3" style="text-align:center;">Are you sure you want to delete this<br />Special and all of its contents?</div>
		<br /><br />
		<div id="confirmDeleteBtn"></div>		
		<div id="confirmDeleteCancelBtn"></div>
		<br />
	</div>
</div>