<div id="errors_div" style="display: none">
	<a id="showErrors" href="#errors"></a>
	<div id="errors" class="popUpWindow">
		<div class="popUpWindowTitle loraItalic14pt291911">Oops...<br /><br /></div>
		<div id="errorContent" class="popUpWindowContent arialBold15ptEFE7D3"></div>		
		<div id="errorButtonOk"></div>
	</div>
</div>