<div id="send_notification_confirmation_div" style="display: none">
	<a id="showSendNotificationsConfirmationPopup" href="#notificationConfirmation"></a>
	<div id="notificationConfirmation" class="popUpWindow">
		<div class="popUpWindowTitle loraItalic14pt291911">Changes Saved!<br /><br /></div>
		<div id="confirmationContent" class="popUpWindowContent arialBold15ptEFE7D3" style="text-align:center;">Would you like to notify subscribed customers of this updated special?</div>
		<br /><br />
		<div id="sendNotificationOkBtn"></div>		
		<div id="sendNotificationCancelBtn"></div>
		<br />
	</div>
</div>