<div id="terms_div" style="display: none">
	<a id="showTermsPopup" href="#terms"></a>
	<div id="terms" class="popUpWindow">
		<div class="popUpWindowTitle loraItalic14pt291911">
			SUBSCRIPTION AGREEMENT
			<br />
			<br />
		</div>
		<div id="termsContent" class="popUpWindowContent arial15ptEFE7D3">
			By clicking on the "I Agree" button below, you agree to bind you, or your Company, of which you are an
			authorized representative, to the terms and conditions below.  "Subscriber" shall refer to you individually,
			or your Company, whichever is applicable.  Hostess encourages you to print out this page and review it with
			your advisors, managers and/or attorney before clicking below.  Clicking "I Agree" shall have the same effect
			as signing this document.
			<br />
			<br />
			<span style="width: 100%; text-align:center;display: inline-block">***********************</span>
			<br />
			<br />
			This agreement ("Agreement") is hereby entered into between Hostess Marketing, a Texas limited liability
			company ("Hostess") and the Subscriber whose name is entered into below ("Subscriber") as of the date which
			this Agreement was first accepted by the Subscriber (the "Effective Date").  Hostess and Subscriber agree as
			follows:
			<ul style="list-style-type:decimal;">
				<li>
					<strong>Description of Application.</strong>  Hostess is a premium quality restaurant marketing tool providing revenue
					enhancing features like current location, restaurant specials, menus, and special events.  Hostess
					gives restaurants the ability to initiate and control marketing campaigns in real time directly to
					those interested. "Application" refers to Hostess' software program developed for smartphones.
					<br /><br />
				</li>
				<li>
					<strong>Undertaking to Provide Advertising Services.</strong>  Subscriber operates a restaurant and wishes to use
					Hostess's Application in order to run a marketing campaign.
					<br /><br />
				</li>
				<li>
					<strong>Terms of the Agreement.</strong>  All subscriptions are monthly unless otherwise approved by Hostess management.
					Payments shall be made by credit card and processed online. Subscriber will be responsible for charges
					pursuant to any returned checks or credit card rejections. <strong>It is the policy of Hostess not to provide
					any refunds once monthly subscription fees have been paid unless cancelled in accordance with <u>Section
					6</u> below. There is no obligation to continue service after the one month term has expired.</strong> Hostess
					does not require contracts unless approved by Hostess Management. Hostess reserves the right to cancel
					any subscription at any time.
					<br /><br />
				</li>
				<li>
					<strong>Description of Advertising Services.</strong>  Subscriber will provide Hostess with Advertising Material, updated
					promotions and specials, menus, and other information as requested from time to time by Hostess
					("Advertising Material").
					<br /><br />
				</li>
				<li>
					<strong>Warranties and Duties of Hostess.</strong>  Hostess shall use reasonable commercial efforts to maintain the
					Application's availability and display the Advertising Material twenty four hours per day each day
					during the term of the Agreement.
					<br />
					<br />
					Hostess warrants to Subscriber that it will make a reasonable effort to perform its services under
					this Agreement in a competent manner.  Hostess does not warrant that it will be able to correct all
					reported defects or that use of the Application, Advertising Material, or Marketing Campaign will be
					uninterrupted or error free. Hostess assumes no liabilities for the content on its Application including
					data files, pictures, sound, and videos. Hostess makes no warranty regarding features or services
					provided by third parties.
					<br />
					<br />
					HOSTESS DISCLAIMS ALL IMPLIED WARRANTIES, INCLUDING WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY,
					NON INFRINGEMENT OF THIRD PARTY RIGHTS, AND FITNESS FOR A PARTICULAR PURPOSE.
					<br />
					<br />
					Hostess reserves the right, in its sole discretion, to determine all matters concerning hardware and
					software selection and configuration, telecommunications, system components, advertising categories,
					positioning of Subscriber's Advertising Material, and other operational and administrative matters
					for the Application.
					<br /><br />
				</li>
				<li>
					<strong>Subscription Fee.</strong> For the services described in <u>Section 4</u>, Subscriber agrees to pay Hostess the
					subscription fee as of the Effective Date and listed on the subscription page at www.myhostessapp.com
					plus any applicable state and local taxes. The fee provides Subscriber with a one month subscription.
					After each one month expiration term, Subscriber may pay another monthly fee to continue subscription.
					Fees will automatically be charged each month on the first day of the month unless cancelled in writing
					beforehand by Subscriber.
					<br /><br />
				</li>
				<li>
					<strong>Refunds.</strong>  Hostess will not provide any refunds.  Charges are incurred on the first of day of the month.
					Subscriptions may be cancelled at any time in accordance with <u>Section 6</u>.
					<br /><br />
				</li>
				<li>
					<strong>Intellectual Property Rights</strong><br /><br />
					<ul style="list-style-type:none;">
						<li>
							(a) Each party to this Agreement owns its respective web site or Application and the material
							and content on its Web site and Application.  Except as stated in <u>Section 7(b)</u> below, nothing
							in this Agreement grants to one party any right, title, or license to the other party's intellectual
							property rights.
							<br /><br />
						</li>
						<li>
							(b) Subscriber grants Hostess a nonexclusive license to set up and display the Subscriber's Advertising
							Material (including any trademarks and service marks shown) and to hyperlink to the Advertised
							Site during the Term of this Agreement.  Upon termination of this Agreement, Hostess will uninstall
							the Subscriber's Advertising Material, remove all copies of it, cease further display of the
							Advertising Material, and terminate all hyperlinks to Subscriber or Subscriber's web sites in
							the Application.
							<br /><br />
						</li>
						<li>
							(c) Nothing in this Agreement grants Subscriber any right to use the name, trademark, or service
							mark of Hostess in any Advertising Material, sales promotion or press release without Hostess's
							prior written approval.
							<br /><br />
						</li>
					</ul>
				</li>
				<li>
					<strong>Warranties of Subscriber.</strong>  The Subscriber warrants that its use of Hostess's Services and its respective
					Advertising Material:<br /><br />
					<ul style="list-style-type:none;">
						<li>
							(a) Are truthful and will not violate any foreign, federal, state or local law or regulation;
							<br /><br />
						</li>
						<li>
							(b) Will not infringe or misappropriate any copyright, trademark, patent, trade secrets, publicity
							or privacy rights of any person or third party in any jurisdiction;
							<br /><br />
						</li>
						<li>
							(c) Do not contain any material which is unlawful, harmful, abusive, hateful, obscene, threatening,
							or defamatory including any content directed at minors under the age of 13.
							<br /><br />
						</li>
						<li>
							(d) Will not encourage any dangerous behaviors such as excessive alcohol consumption or using a
							mobile device while driving.
							<br /><br />
						</li>
						<li>
							(e) Will not use location data to track users of the Application.
							<br /><br />
						</li>
						<li>
							(f) Will restrict all information collected through the Application to business use solely.
							<br /><br />
						</li>
						<li>
							(g) Will be consistent with Hostess' Privacy Policy, of which the most recent copy may be reviewed
							at <a style="color: #291911;text-decoration:underline;" target="_blank" href="http://www.myhostessapp.com"> www.myhostessapp.com</a>.
							<br /><br />
						</li>
					</ul>
					<br />
					Subscriber agrees to defend, indemnify, and hold harmless Hostess, its officers, directors,
					sublicensees, employees and agents, from and against any claims, actions or demands, including without
					limitation reasonable legal and accounting fees, alleging or resulting from the breach of the warranties
					in this <u>Section 8</u>.  Hostess shall provide notice to Subscriber promptly of any such claim, suit, or
					proceeding and shall assist Subscriber, at Subscriber's expense, in defending any such claim, suit
					or proceeding.
					<br /><br />
				</li>
				<li>
					<strong>Liability of Hostess.</strong>  Subscriber agrees that Hostess's liability for any error in displaying the
					Advertising Material or any failure to provide services shall not exceed the Subscription Fees paid
					by Subscriber in the 12 months preceding the event giving rise to Subscriber's claim.  If Hostess is
					unable to display the Advertising Material at any time during the term of this Agreement due to acts
					of God, war, riot, strikes, system or transmission failure, or for any other reason beyond its
					reasonable control, such failure to display the Advertising Material will not constitute a breach
					of this Agreement; provided, however that Subscriber may terminate this Agreement if such failure to
					display the Advertising Material continues for more than ten (10) days.  If such failure to display
					the Advertising Material is caused by an act or omission of the Subscriber, Hostess shall be entitled
					to full payment of all Subscription Fees.  If such failure to display the Advertising Material is
					not caused by an act or omission of the Subscriber, but a failure of Hostess to meet its obligations,
					Hostess will allow a pro rata reduction in the Subscription Fee.
					<br />
					<br />
					IN NO EVENT SHALL HOSTESS BE LIABLE, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE,
					FOR ANY INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING LOST SALES OR PROFIT, LOST DATA,
					BUSINESS INTERRUPTION OR ATTORNEYS' FEES), EVEN IF NOTIFIED IN ADVANCE OF SUCH POSSIBILITY.
					<br /><br />
				</li>
				<li>
					<strong>Termination</strong><br /><br />
					<ul style="list-style-type:none;">
						<li>
							(a)	Except as provided below, this Agreement will terminate without further action upon the
							expiration of the period set forth in <u>Section 3</u> unless otherwise agreed by Hostess.
							<br /><br />
						</li>
						<li>
							(b)	Subscriber acknowledges that Hostess may terminate this Agreement and remove the Advertising
							Material if Hostess believes in its sole discretion that the Advertising Material breaches
							any warranty.  In the event of such termination, Hostess shall be entitled to receive full
							payment for all Subscription Fees incurred by Subscriber up to the date of termination.
							<br /><br />
						</li>
						<li>
							(c)	The following provisions shall survive termination of this Agreement:  <u>Sections 8 and 9</u>.
							<br /><br />
						</li>
					</ul>
				</li>
				<li>
					<strong>Miscellaneous</strong><br /><br />
					<ul style="list-style-type:none;">
						<li>
							(a)	This Agreement will be governed by and construed in accordance with the laws of the
							United States and the State of Texas as applied to agreements entered into and to be performed
							entirely within that state between residents of that state.
							<br /><br />
						</li>
						<li>
							(b)	This Agreement, including any Exhibits to this Agreement regarding the Advertising
							Material, constitutes the entire agreement between the parties relating to this subject
							matter and supersedes all prior or simultaneous representations, discussions, negotiations,
							and agreements, whether written or oral.
							<br /><br />
						</li>
						<li>
							(c)	The Agreement may not be modified except by written instrument signed by both parties.
							No term or provision hereof will be considered waived by either party, and no breach excused
							by either party, unless such waiver or consent is in writing signed on behalf of the party
							against whom the waiver is asserted.  No consent by either party to, or waiver of, a breach
							by either party, whether express or implied, will constitute a consent to, waiver of, or
							excuse of any other, different, or subsequent breach by either party.
							<br /><br />
						</li>
						<li>
							(d)	Subscriber may not assign its rights or obligations arising under this Agreement without
							Hostess's prior written consent.  Hostess may assign its rights and obligations under this
							Agreement.  This Agreement will be for the benefit of Hostess's successors and assigns, and
							will be binding on Subscriber's heirs, legal representatives and permitted assignees.
							<br /><br />
						</li>
						<li>
							(e)	If any dispute arises between the parties with respect to the matters covered by this
							Agreement which leads to a proceeding to resolve such dispute, the prevailing party in such
							proceeding shall be entitled to receive its reasonable attorneys' fees, expert witness fees
							and out of pocket costs incurred in connection with such proceeding, in addition to any other
							relief to which it may be entitled.
							<br /><br />
						</li>
						<li>
							(f)	All notices, requests and other communications required to be given under this Agreement
							must be in writing, and must be mailed by registered or certified mail, postage prepaid and
							return receipt requested, or delivered by hand to the party to whom such notice is required
							or permitted to be given.  Any such notice will be considered to have been given when received,
							or if mailed, five (5) business days after it was mailed, as evidenced by the postmark.
							The mailing address for notice to either party will be the address shown on the signature
							page of this Agreement.  Either party may change its mailing address by notice as provided
							by this <u>Section 11</u>.
							<br /><br />
						</li>
					</ul>
				</li>
			</ul>
			<br />
			<br />
			<span><strong>BY CLICKING "I AGREE" YOU AGREE:</strong></span>
			<ul style="list-style-type:decimal;">
				<li>
					That you have read this Subscription Agreement; and
					<br /><br />
				</li>
				<li>
					That, if you are not an individual, you have authority to execute this Agreement for your Company; and
					<br /><br />
				</li>
				<li>
					That you have had the opportunity to review this agreement with any advisors, managers, or attorneys; and
					<br /><br />
				</li>
				<li>
					That you agree to the terms and conditions herein.
					<br /><br />
				</li>
			</ul>
		</div>
		<div id="errorButtonOk"></div>
	</div>
</div>