<div id="tutorial">
	<div id="tutorialPage1">
		<div class="top">
			<span class="lora28pt68804D">Welcome to Hostess</span>
			<br />
			<p class="arial17pt291911">Follow these simple steps to set up your business in a matter of minutes!</p>
			<br />
			<span class="loraItalic16pt8CA671"> Create a Restaurant Profile</span>
			<br />
			<p class="arial16pt291911 recomendation">To best promote your restaurant, we recommend filling out all categories although not all are required. Entering your business name, adding pictures, tags, and more couldn't be more simple. You can also select categories that are associated with your restaurant.</p>
		</div>
		<div class="below marginTop5">
			<div id="left" class="marginTop5">
				<br />
				<span class="loraItalic16pt8CA671">Upload Photo(s) and Video</span>
				<br />
				<p class="arial16pt291911">Upload photos and video simply by selecting the file  you want to upload in the General Info section. File sizes are limited to 5mb.</p>
				<br />
				<span class="loraItalic16pt8CA671 marginTop5">Preview/Save</span>
				<br />
				<p class="arial16pt291911">Clicking the preview button will let you preview how your information will display on the phone before anyone can see it. The save button will save the current information and make it viewable by Hostess users.</p>
			</div>
			<div id="right">
			</div>			
		</div>
		<div id="nextButton">
			<span style="margin-left:750px;"><img class="arrowButton" src="/images/buttons/button_brown_rightarrow.png" onclick="nextClickOnTutorial();"></span>
		</div>
	</div>	
	<div id="tutorialPage2" style="display:none;">
		<div class="top">
			<span class="loraItalic16pt8CA671">Post Specials</span>
			<br />
			<p class="arial16pt291911 recomendation">Show and tell your guests why you are special. Highlight menu specials and events. Be creative! Under the specials tab, you can add a special by clicking the [+] button. Fill out the special's name, description, add a start and end date, and a photo.</p>
			<span class="loraItalic16pt8CA671">Add Tags</span>
			<br />
			<p class="arial16pt291911 recomendation">Adding tags helps users find your business. Add a few tags that users may use to find your business. For example, if you're a fast food burger joint, you may want to use tags like "Burgers", "Local", "Vegetarian", "Drive-Thru", etc.</p>
		</div>
		<div class="below">
			<div id="left">
				<span class="loraItalic16pt8CA671">View Analytics</span>
				<br />
				<p class="arial16pt291911">This section lets you track all the analytics you need to optimize your specials and maximize customer traffic. Statics such as "Number of Impressions" and "Most Viewed Featured Special" let you know which specials are working and why.</p>				
				<span class="loraItalic16pt8CA671">Your Account</span>
				<br />
				<p class="arial16pt291911">If you're looking to sign out or change your account details, click on your name at the upper right. If you have questions try looking for your question in the Help section.</p>
				<p class="arial16pt291911">Now get out there and grow your business!</p>				
			</div>
			<div id="right2">
			</div>
			
		</div>
		<div id="backButton">
			<span style="margin-left:20px;"><img class="arrowButton" src="/images/buttons/button_brown_leftarrow.png" onclick="backClickOnTutorial();"></span>			
		</div>
	</div>
</div>