<%= render :partial => "/shared/navMenu" %>
<div id="content">
	<h1 class="lora28ptEFE7D3">About Hostess</h1>
	<hr align="center" class='separation2px'>
	<hr align="center" class='separation1px'>
	
	<h2 class="loraItalic16pt8CA671">What Is Hostess?</h2>
	<p class="arial16ptEFE7D3">
		Hostess is a premium mobile application developed to provide restaurants with a suite of powerful marketing tools 
		to promote highly targeted food offerings and specials using mobile technology, in real-time. Hostess bundles 
		industry proven and key marketing components into an easy to use platform that is completely in your control. 
		Hostess makes new guest acquisition affordable while also keeping repeat guests engaged. Hostess is designed to 
		incorporate existing marketing, saving you money and optimizing current campaigns. The structure of Hostess 
		encourages cross-channel consistencies, but also allows you to creatively try new reaches. It&#39;s all up to you. 
		Hostess is available by subscription, no profit sharing, no contracts.
	</p>
	<h2 class="loraItalic16pt8CA671">Why Use Hostess?</h2>
	<p class="arial16ptEFE7D3">
		Hostess Optimizes Mobile Search<br />
		Mobile search is one of the fastest growing categories with users, and when they search they do so with the intent to soon visit in person. We provide multiple search tools so that your location, whether permanent or temporary, will be sure to be found.
		<br /><br />
		Hostess Provides Mobile Display<br />
		Mobile display is nearly 10 times more effective than online counterparts. Today everyone is on the go, making it necessary to reach out using mobile. Hostess provides multiple methods to present your brand and increase awareness. Use existing ads, files, or pictures to build your display in minutes. Create and change campaigns at your discretion, in real-time.
		<br /><br />
		Hostess Promotes Referrals<br />
		By providing easy connections to the user&#39;s favorite social media, Hostess encourages restaurant experiences to be shared, giving your establishment more visibility and many potential new guests. Coordinate your existing social media campaigns and capture more than ever before.
		<br /><br />
		"2010 Media Industry Fact Sheet" Nielsen; "Forrester Wave Report: Web Analytics" Q4 2011
	</p>
	<h2 class="loraItalic16pt8CA671">How Can I Join?</h2>
	<p class="arial16ptEFE7D3">
		Simply follow the online instructions to enroll. Hostess does not require contracts or long term commitments. Need to discuss your options? Give us a call.
	</p>
	<h2 class="loraItalic16pt8CA671">Contact Us!</h2>
	<p class="arial16ptEFE7D3">
	Email: info@myhostessapp.com
	<br /><br />
	Phone: (512) 994-4142
	</p>
</div>