<%= render :partial => "/shared/navMenu" %>
<div id="content">
	<h1 class="lora28ptEFE7D3">Terms of Service</h1>
	<hr align="center" class='separation2px'>
	<hr align="center" class='separation1px'>
	<p class="arial16ptEFE7D3">
		These Terms of Service govern your access to and use of the iPhone Application Hostess (the
		"App") any information, documents, text, graphics, or other materials created and/or provided by
		Hostess and appearing on the App (the "Content"), and any services and/or software provided
		through the App or by Hostess (the "Services"). These Terms of Service limit Hostess&#146;s liability
		and obligations to you, grant Hostess certain rights and allow Hostess to change, suspend or
		terminate your access to and use of the App, Content, and Services. Your access to and use of
		the App, Content, and/or Services are expressly conditioned on your compliance with these
		Terms of Service. By accessing or using the App, Content, and/or Services you agree to be
		bound by these Terms of Service.<br /><br />
		YOU UNDERSTAND THAT BY CLICKING THE "I AGREE" BUTTON, BY USING THE
		APP, CONTENT, FILES AND/OR SERVICES OR YOUR ACCOUNT YOU ARE
		AGREEING TO BE BOUND BY THESE TERMS OF SERVICE. IF YOU DO NOT ACCEPT
		THESE TERMS OF SERVICE IN THEIR ENTIRETY, YOU MAY NOT ACCESS OR USE
		THE APP, CONTENT, OR SERVICES.
	</p>
	<h2 class="loraItalic16pt8CA671">Our Services</h2>
	<p class="arial16ptEFE7D3">
		Hostess is a premium quality restaurant marketing tool providing revenue enhancing features like
		current location, restaurant specials, menus, and special events. Hostess gives restaurants the
		ability to initiate and control marketing campaigns in real time directly to those interested. By
		using this App, User agrees to receive push notifications from restaurants advertising specials,
		events, menus, and location. Such specials from restaurants are merely advertisements and not
		offers to sell.
	</p>
	<h2 class="loraItalic16pt8CA671">Privacy</h2>
	<p class="arial16ptEFE7D3">
		See Hostess&#146;s Privacy Policy for information and notices concerning Hostess&#146;s collection and
		use of your personal information.
	</p>
	<h2 class="loraItalic16pt8CA671">Your Use of the Services</h2>
	<p class="arial16ptEFE7D3">
		Hostess grants you a limited, nonexclusive, nontransferable, revocable license to use the App,
		Content and Services subject to the restrictions set forth in these Terms of Service.
	</p>
	<h2 class="loraItalic16pt8CA671">Hostess Property and Feedback</h2>
	<p class="arial16ptEFE7D3">
		All right, title, and interest in and to the App, Content, and Services are and will remain the
		exclusive property of Hostess and its licensors, including all Intellectual Property Rights (as
		defined below) therein, even if Hostess incorporates any of your Feedback (as defined below)
		into subsequent versions. The App, Content, and Services are protected by copyright, trademark,
		and other laws of both the United States and foreign countries. Except as expressly permitted in
		these Terms of Service, you may not reproduce, modify or prepare derivative works based upon,
		distribute, sell, transfer, publicly display, publicly perform, transmit, or otherwise use the App,
		Content, or Services. You may not copy or modify the HTML or other code used to generate
		web pages on the App.<br /><br />
		All feedback, comments, and suggestions for improvements (the "Feedback") that you provide to
		Hostess, in any form, will be the sole and exclusive property of Hostess. You hereby irrevocably
		transfer and assign to Hostess and agree to irrevocably assign and transfer to Hostess all of your
		right, title, and interest in and to all of your Feedback, including all worldwide patent rights
		(including patent applications and disclosures), copyright rights, trade secret rights, and other
		intellectual property rights (collectively, the "Intellectual Property Rights") therein. At Hostess&#146;s
		request and expense, you will execute documents and take such further acts as Hostess may
		reasonably request to assist Hostess in acquiring, perfecting and maintaining its Intellectual
		Property Rights and other legal protections for your Feedback. You will not earn or acquire any
		rights or licenses in the App, Content, and Services or in any Hostess Intellectual Property Rights
		on account of these Terms of Service or your performance under these Terms of Service.
	</p>
	<h2 class="loraItalic16pt8CA671">Reviews and Comments</h2>
	<p class="arial16ptEFE7D3">
		Users may submit reviews, comments, and ratings for publication and distribution to restaurants
		and other third parties, so long as the content is not illegal, threatening, obscene, racist,
		defamatory, libelous, pornographic, infringing of intellectual property rights, promoting of illegal
		activity or harm to groups and/or individuals, invasive of privacy, purposely false or otherwise
		injurious to third parties or objectionable and does not consist of or contain software, computer
		viruses, commercial solicitation, political campaigning, chain letters, mass mailings, any form of
		"spam" or references to illegal activity, malpractice, purposeful overcharging, false advertising
		or health code violations (e.g., foreign objects in food, food poisoning, etc.). Hostess reserves the
		right (but not the obligation) to remove or edit such content, but may not regularly review
		submitted content.<br /><br />
		If you do submit material, and unless we indicate otherwise, you grant Hostess a nonexclusive,
		perpetual, royalty-free, irrevocable, and fully sublicensable right to use, modify, reproduce,
		adapt, translate, publish, create derivative works from, distribute, and display such content
		throughout the world in any media. You represent and warrant that you own or otherwise control
		all of the rights to the content that you submit; that the content is accurate; that use of the content
		you supply does not violate this policy and will not cause injury to any person or entity; and that
		you will indemnify Hostess for all claims resulting from content you supply. Hostess takes no
		responsibility and assumes no liability for any content submitted by you or any third party.
	</p>
	<h2 class="loraItalic16pt8CA671">General Prohibitions</h2>
	<p class="arial16ptEFE7D3">
		You agree not to do any of the following while using the App, Content, or Services:<br /><br />
		* Post, publish or transmit any Document, text, graphics, or material that: (i) is false or
		misleading; (ii) is defamatory; (iii) invades another&#146;s privacy; (iv) is obscene, pornographic, or
		offensive; (v) promotes bigotry, racism, hatred or harm against any individual or group; (vi)
		infringes another&#146;s rights, including any intellectual property rights; or (vii) violates, or
		encourages any conduct that would violate, any applicable law or regulation or would give rise to
		civil liability;<br /><br />
		* Access, tamper with, or use non-public areas of the App, Hostess&#146;s computer systems, or the
		technical delivery systems of Hostess&#146;s providers;<br /><br />
		* Attempt to probe, scan, or test the vulnerability of any system or network or breach any
		security or authentication measures;<br /><br />
		* Attempt to access or search the App, Content, or Services with any engine, software, tool,
		agent, device or mechanism other than the software and/or search agents provided by Hostess or
		other generally available third-party web browsers (such as Microsoft Internet Explorer, Mozilla
		Firefox, Google Chrome or Apple Safari), including but not limited to browser automation tools;<br /><br />
		* Send unsolicited email, junk mail, "spam", or chain letters, or promotions or advertisements for
		products or services;<br /><br />
		* Forge any TCP/IP packet header or any part of the header information in any email or
		newsgroup posting, or in any way use the App, Content, or Services to send altered, deceptive or
		false source-identifying information;<br /><br />
		* Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to
		provide the App, Content, or Services;<br /><br />
		* Interfere with, or attempt to interfere with, the access of any user, host or network, including,
		without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the App;
		or plant malware on Hostess&#146;s computer system, those systems of Hostess&#146;s providers, or
		otherwise use the App, Content, or Services to attempt to distribute malware; or
		* Impersonate or misrepresent your affiliation with any person or entity.<br /><br />
		Hostess will have the right to investigate and prosecute violations of any of the above, including
		intellectual property rights infringement and App security issues, to the fullest extent of the law.
		Hostess may involve and cooperate with law enforcement authorities in prosecuting users who
		violate these Terms of Service. You acknowledge that Hostess has no obligation to monitor any
		user&#146;s access to or use of the App, Content, and Services, but has the right to do so for the
		purpose of operating the App and the Services, to ensure user&&#146; compliance with these Terms of
		Service, or to comply with applicable law or the order or requirement of a court, administrative
		agency or other governmental body.
	</p>
	<h2 class="loraItalic16pt8CA671">Digital Millennium Copyright Act Compliance</h2>
	<p class="arial16ptEFE7D3">
		You will only upload, sign, post, submit or otherwise transmit data and/or files: (i) that you have
		the lawful right to use, sign, copy, distribute, transmit, or display; or (ii) that does not infringe the
		intellectual property rights or violate the privacy rights of any third party (including, without
		limitation, copyright, trademark, patent, trade secret, or other intellectual property right, or moral
		right or right of publicity). Hostess has adopted and implemented a policy that permits the
		deletion of files that violate this policy, and that permits the termination in appropriate
		circumstances of the accounts of users who repeatedly infringe or are believed to be or are
		charged with repeatedly infringing the rights of copyright holders.
	</p>
	<h2 class="loraItalic16pt8CA671">Links</h2>
	<p class="arial16ptEFE7D3">
		The App may contain links to third-party websites or resources. You acknowledge and agree that
		Hostess is not responsible or liable for: (i) the availability or accuracy of such websites or
		resources; or (ii) the content, products, or services on or available from such websites or
		resources. Links to such websites or resources do not imply any endorsement by Hostess of such
		websites or resources or the content, products, or services available from such websites or
		resources. You acknowledge sole responsibility for and assume all risk arising from your use of
		any such websites or resources.
	</p>
	<h2 class="loraItalic16pt8CA671">Termination</h2>
	<p class="arial16ptEFE7D3">
		If you violate any of these Terms of Service, your permission to use the App, Content, and
		Services will automatically terminate. Hostess reserves the right to revoke your access to and
		use of the App, Content, and Services at any time, with or without cause, and with or without
		notice. Hostess also reserves the right to cease providing or to change the App, Content, or
		Services at any time and without notice.
	</p>
	<h2 class="loraItalic16pt8CA671">Use of the App and Application at Your Own Risk</h2>
	<p class="arial16ptEFE7D3">
		Your access to and use of the App, Content, and Services and is at your own risk. Hostess will
		have no responsibility for any harm to your computer system, loss or corruption of data, or other
		harm that results from your access to or use of the App, Content, or Services.<br /><br />
		Hostess does not encourage using the App while driving or operating any heavy machinery. Such
		use is at the user&#146;s own risk. Hostess is not liable for any harm that may occur as a result of such
		use.
	</p>
	<h2 class="loraItalic16pt8CA671">EasySignMobile is Available "AS-IS"</h2>
	<p class="arial16ptEFE7D3">
		THE APP, CONTENT, AND SERVICES ARE PROVIDED "AS IS", WITHOUT
		WARRANTY OR CONDITION OF ANY KIND, EITHER EXPRESS OR IMPLIED.
		WITHOUT LIMITING THE FOREGOING, HOSTESS EXPLICITLY DISCLAIMS ANY
		WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
		NON-INFRINGEMENT AND ANY WARRANTIES ARISING OUT OF COURSE OF
		DEALING OR USAGE OF TRADE. YOU ACKNOWLEDGE THAT USE OF THE APP,
		CONTENT, FILE AND SERVICES MAY RESULT IN UNEXPECTED RESULTS, LOSS OR
		CORRUPTION OF DATA OR COMMUNICATIONS, PROJECT DELAYS, OTHER
		UNPREDICTABLE DAMAGE OR LOSS, OR EXPOSURE OF YOUR DATA OR YOUR
		FILES TO UNINTENDED THIRD PARTIES.<br /><br />
		HOSTESS MAKES NO WARRANTY THAT THE APP, CONTENT, OR SERVICES WILL
		MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED,
		SECURE, OR ERROR-FREE BASIS. HOSTESS MAKES NO WARRANTY REGARDING
		THE QUALITY OF ANY PRODUCTS, SERVICES, OR INFORMATION PURCHASED OR
		OBTAINED THROUGH THE APP, CONTENT, OR SERVICES, OR THE ACCURACY,
		TIMELINESS, TRUTHFULNESS, COMPLETENESS OR RELIABILITY OF ANY
		INFORMATION OBTAINED THROUGH THE APP, CONTENT, OR SERVICES.
		NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM
		HOSTESS OR THROUGH THE APP, CONTENT, OR SERVICES, WILL CREATE ANY
		WARRANTY NOT EXPRESSLY MADE HEREIN.
	</p>
	<h2 class="loraItalic16pt8CA671">Indemnity</h2>
	<p class="arial16ptEFE7D3">
		You agree to defend, indemnify, and hold Hostess, its officers, directors, employees, agents,
		members, or vendors harmless from and against any claims, liabilities, damages, losses and
		expenses, including, without limitation, reasonable attorne&#146;s fees and costs, arising out of or in
		any way connected with: (i) your access to or use of the App, Content, and Services; (ii) your
		violation of this Agreement; or (iii) your violation of any third party right, including without
		limitation any intellectual property right, including but not limited to right of attribution,
		publicity, confidentiality, property or privacy right.
	</p>
	<h2 class="loraItalic16pt8CA671">Limitation of Liability</h2>
	<p class="arial16ptEFE7D3">
		IN NO EVENT WILL HOSTESS NOR ANY VENDOR BE LIABLE TO YOU OR TO ANY
		THIRD PARTY FOR DAMAGES OF ANY KIND, INCLUDING, WITHOUT LIMITATION,
		DIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES
		(INCLUDING LOSS OF USE, DATA, BUSINESS OR PROFITS) ARISING OUT OF OR IN
		CONNECTION WITH THIS AGREEMENT, OR FROM YOUR ACCESS TO OR USE OF,
		OR INABILITY TO ACCESS OR USE, THE APP, CONTENT, AND/OR SERVICES, OR
		FOR ANY ERROR OR DEFECT IN THE APP, CONTENT, OR SERVICES, WHETHER
		SUCH LIABILITY ARISES FROM ANY CLAIM BASED UPON CONTRACT,
		WARRANTY, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE,
		OR ANY OTHER LEGAL THEORY, WHETHER OR NOT HOSTESS HAS BEEN
		INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A REMEDY SET
		FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. YOU
		SPECIFICALLY ACKNOWLEDGE THAT HOSTESS IS NOT LIABLE FOR THE
		DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD
		PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS
		ENTIRELY WITH YOU. FURTHER, HOSTESS WILL HAVE NO LIABILITY TO YOU OR
		TO ANY THIRD PARTY FOR ANY THIRD PARTY CONTENT UPLOADED ONTO OR
		DOWNLOADED FROM THE APP OR THROUGH THE SERVICES AND/OR THE FILES,
		OR IF YOUR DATA IS LOST, CORRUPTED OR EXPOSED TO UNINTENDED THIRD
		PARTIES.<br /><br />
		YOU AGREE THAT THE AGGREGATE LIABILITY OF HOSTESS TO YOU FOR ANY
		AND ALL CLAIMS ARISING FROM THE USE OF THE APP, CONTENT, AND/OR
		SERVICES IS LIMITED TO TWENTY U.S. DOLLARS ($20). THE LIMITATIONS OF
		DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF
		THE BARGAIN BETWEEN HOSTESS AND YOU.
	</p>
	<h2 class="loraItalic16pt8CA671">Data Fees</h2>
	<p class="arial16ptEFE7D3">
		Data, messaging, or other ISP and carrier fees may apply in your use of the App and Services.
	</p>
	<h2 class="loraItalic16pt8CA671">Severability</h2>
	<p class="arial16ptEFE7D3">
		In the event that any provision of these Terms of Service is held to be invalid or unenforceable,
		the remaining provisions of these Terms of Service will remain in full force and effect.
	</p>
	<h2 class="loraItalic16pt8CA671">Waiver</h2>
	<p class="arial16ptEFE7D3">
		The failure of Hostess to enforce any right or provision of these Terms of Service will not be
		deemed a waiver of such right or provision.
	</p>
	<h2 class="loraItalic16pt8CA671">Controlling Law and Jurisdiction</h2>
	<p class="arial16ptEFE7D3">
		These Terms of Service and any action related thereto will be governed by the laws of the State
		of Texas without regard to its conflict of law provisions. The exclusive jurisdiction and venue of
		any action with respect to the subject matter of these Terms of Service will be the state and
		federal courts located in Dallas County, Texas, and each of the parties hereto waives any
		objection to jurisdiction and venue in such courts.
	</p>
	<h2 class="loraItalic16pt8CA671">Entire Agreement</h2>
	<p class="arial16ptEFE7D3">
		These Terms of Service are the entire and exclusive agreement between Hostess and you
		regarding the App, Content, and Services, and these Terms of Service supersede and replace any
		prior agreements between Hostess and you regarding the App, Content, and Services.
	</p>
</div>